.alert {
    display: none;
}

.clear-float:after,
.clear-float:before {
    content: "";
    display: table;
    clear: both;
}

.skills .label {
    display: inline-block;
    margin: 0 3px;
}

.photo-blur-container img,
.photo-blur-front {
    transition: .3s all;
}

.photo-blur-container {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
}

.photo-blur-front {
    opacity: 0;
    width: 30px;
    height: 30px;
    top: 35%;
    left: 35%;
    background: url('/assets/default_icons/edit.png') no-repeat;
    background-size: cover;
    position: absolute;
}

.photo-blur-container img {
    background: transparent;
}

.photo-blur-container:hover {
    background: rgba(0, 0, 0, .7);
    border-radius: 50%;
}

.photo-blur-container:hover img{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    transform: scale(1.2);
}

.photo-blur-container:hover .photo-blur-front {
    opacity: 1;
}

.label-block {
    display: block;
    text-align: center;
    padding: 5px 0;
    margin: 3px 0;
}

.box-body a.general-action {
    font-size: 18px;
    padding: 2px 7px;
    border-radius: 6px;
    color: white;
    margin-bottom: 10px;
}

.box-body a.multiple-delete {
    background: #C62828;
    display: none;
}

.box-body a.add {
    background: #0277BD;
}

.modal-dialog {
    background: #FFF;
}